In [2]:
import pandas as pd

# Load the Excel file
file_path = '[HCI2001] Experiment Results.xlsx'

# Read the sheets
not_blind_df = pd.read_excel(file_path, sheet_name='Not blind', usecols='A:F')
blind_df = pd.read_excel(file_path, sheet_name='Blind', usecols='A:F')

In [3]:
not_blind_df.head()

,Participant,Task #,Number of Clicks,Error Rate,"User Satisfaction (1-5), 5 being most difficult",Other notes
0,Ayisha,1,6,0,1,NaN
1,Ayisha,2,13,0,1,NaN
2,Ayisha,3,3,0,1,NaN
3,Ayisha,4,14,0,1,NaN
4,Ayisha,5,21,1,1,NaN

In [4]:
blind_df.head()

,Participant,Task #,Number of Clicks,Error Rate,"User Satisfaction (1-5), 5 being most difficult",Other Notes
0,Ibz,1,30,2,5,Kept going outside of the webpage and being co...
1,Ibz,2,2,0,3,NaN
2,Ibz,3,31,1,3,"When on the third page, it expects ""next"" afte..."
3,Ibz,4,27,0,2,seems to have gotten used to navigating with t...
4,Ibz,5,4,1,2,NaN

# Average Results

## Not blind

In [7]:
not_blind_df['Number of Clicks'].mean()

10.833333333333334

In [8]:
not_blind_df['Error Rate'].mean()

0.13333333333333333

In [9]:
not_blind_df['User Satisfaction (1-5), 5 being most difficult'].mean()

2.033333333333333

## Blind

In [10]:
blind_df['Number of Clicks'].mean()

14.166666666666666

In [11]:
blind_df['Error Rate'].mean()

0.26666666666666666

In [12]:
blind_df['User Satisfaction (1-5), 5 being most difficult'].mean()

1.8666666666666667

# T-test

In [6]:
from scipy.stats import ttest_ind

# Remove unnecessary columns and rows with missing values in key columns
not_blind = not_blind_df[['Number of Clicks', 'Error Rate', 'User Satisfaction (1-5), 5 being most difficult']]
blind = blind_df[['Number of Clicks', 'Error Rate', 'User Satisfaction (1-5), 5 being most difficult']]

# Perform t-tests
clicks_ttest = ttest_ind(not_blind['Number of Clicks'], blind['Number of Clicks'], equal_var=False)
error_rate_ttest = ttest_ind(not_blind['Error Rate'], blind['Error Rate'], equal_var=False)
user_satisfaction_ttest = ttest_ind(not_blind['User Satisfaction (1-5), 5 being most difficult'], blind['User Satisfaction (1-5), 5 being most difficult'], equal_var=False)

print("Clicks: " + str(clicks_ttest))
print("Error Rate: " + str(error_rate_ttest))
print("User satisfaction: " + str(user_satisfaction_ttest))

Clicks: Ttest_indResult(statistic=-1.3740079778925167, pvalue=0.17489014030975794)
Error Rate: Ttest_indResult(statistic=-1.1682062670406033, pvalue=0.24821967993133917)
User satisfaction: Ttest_indResult(statistic=0.5698028822981892, pvalue=0.57101678703497)

Because none of the p-values are less than 0.05, we conclude that there are no significant differences between the blind and non-blind participants